@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/public/horizon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont2';
  src: url('/public/mathilde.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont3';
  src: url('/public/megasari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

